<h2>Drawing Changing Data</h2>

<p>Often the data you want to put on a canvas changes over time. In that case you need to redraw every time it changes.</p>
<p>One good approach is to rely on the <code>OnChanges</code> lifecycle hook. It'll be called when the component inputs change and you can redraw based on that. Note that you'll need to use an immutable convention for the data for the <code>onChanges</code> hook to activate.</p>
<div class="controls">
  <button (click)="toggleChanging()">
    {{ isChanging() ? 'Stop Changes' : 'Start Changes' }}
  </button>
</div>
<app-canvas-logo [particles]=particles>
</app-canvas-logo>
