<h1>Angular SVG & Canvas Demos</h1>
<nav>
  <a routerLink="/svg/basic" routerLinkActive="active">Basic SVG</a>
  <a routerLink="/svg/bindings" routerLinkActive="active">SVG with Bindings</a>
  <a routerLink="/svg/components" routerLinkActive="active">SVG with Components</a>
  <a routerLink="/svg/css-animation" routerLinkActive="active">CSS-animated SVG</a>
  <a routerLink="/svg/ng-animation" routerLinkActive="active">ngAnimated SVG</a>
  <a routerLink="/svg/gsap-animation" routerLinkActive="active">GSAP-animated SVG</a>
  <a routerLink="/canvas/basic" routerLinkActive="active">Basic Canvas</a>
  <a routerLink="/canvas/changes" routerLinkActive="active">Canvas with Bindings</a>
  <a routerLink="/canvas/animated" routerLinkActive="active">Canvas with Animation</a>
</nav>


<router-outlet>
</router-outlet>
